<!DOCTYPE html>
<html lang="en">
<head>
	<title>Andy Graulund</title>
	<meta charset="utf-8">
	<meta property="og:title" content="Andy Graulund">
	<meta property="og:type" content="profile">
	<meta property="og:locale" content="en_US">
	<meta property="og:url" content="https://andygraulund.com/">
	<meta property="og:image" content="https://andygraulund.com/assets/shareimage.jpg">
	<meta property="profile:first_name" content="Andy">
	<meta property="profile:last_name" content="Graulund">
	<meta property="profile:gender" content="male">
	<meta name="description" content="Hi! I’m Andy Graulund! I use design and code to solve problems.">
	<meta property="og:description" content="Hi! I’m Andy Graulund! I use design and code to solve problems.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{{ '/assets/icon.png' | url }}">
	<link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
	<link rel="stylesheet" href="{{ '/assets/andys-charts/static/css/main.9c631dc8.css' | url }}">
	<script defer src="{{ '/assets/andys-charts/static/js/main.704bdbe7.js' | url }}"></script>
	<script defer src="https://player.vimeo.com/api/player.js"></script>
	<script defer src="{{ '/assets/chart-demo.js' | url }}"></script>
	<script defer src="{{ '/assets/video.js' | url }}"></script>
</head>
<body>
	<header>
		<div class="container">
			<div class="header-inner">
				<img class="face" src="{{ '/assets/andy.jpg' | url }}" alt="Photo portrait of Andy">
				<div>
					<h1>Hi! I’m <strong>Andy Graulund</strong></h1>
					<p class="fanfare"><strong>I use design and code to solve problems, inspire and communicate</strong></p>
					<p class="title">Full Stack Design Engineer. UI Engineer. Product Engineer</p>
					<p><a href="mailto:andy@graulund.com" title="My e-mail address">andy@graulund.com</a></p>
				</div>
			</div>
		</div>
	</header>
	<main>
		{{ content | safe }}
	</main>
	<footer>
		<div class="container">
			<div class="footer-inner">
				<p><a href="https://www.linkedin.com/in/andygraulund/">See my entire experience on LinkedIn</a></p>
				<p><a href="https://github.com/graulund">See my code on GitHub</a> (note that most of the public code is quite old)</p>
				<p><a href="mailto:andy@graulund.com" title="My e-mail address">andy@graulund.com</a></p>
				<p class="signoff">Thanks for reading! —Andy</p>
			</div>
		</div>
	</footer>
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-2DMD0TCRYB"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag("js", new Date());
		gtag("config", "G-2DMD0TCRYB");
	</script>
</body>
</html>
