---
layout: "base.njk"
---

<header>
	<div class="container">
		<div class="header-inner">
			<h1>Hi! I’m <strong>Andy Graulund</strong></h1>
			<p class="fanfare"><strong>I use design and code to solve problems, inspire and communicate</strong></p>
			<p class="title">Full Stack UI Engineer. Design Engineer. Product Engineer. Software Engineer</p>
			<p><a href="mailto:andy@graulund.com" title="My e-mail address">andy@graulund.com</a></p>
		</div>
	</div>
</header>
<main>
	{{ content | safe }}
</main>
<footer>
	<div class="container">
		<div class="footer-inner">
			<p><a href="https://www.linkedin.com/in/andygraulund/">See my entire experience on LinkedIn</a></p>
			<p><a href="https://github.com/graulund">See my code on GitHub</a> (note that most of the public code is quite old)</p>
			<p><a href="mailto:andy@graulund.com" title="My e-mail address">andy@graulund.com</a></p>
			<p class="signoff">Thanks for reading! —Andy</p>
		</div>
	</div>
</footer>
