---
layout: "base.njk"
---

<header class="header-subpage">
	<div class="container">
		<div class="header-inner">
			<img class="face" src="/assets/andy.jpg" alt="Photo portrait of Andy">
			<div class="header-content">
				<h1>Hi! I’m <a href="/" title="Back to the home page">Andy Graulund</a>, and I design and code</h1>
			</div>
		</div>
	</div>
</header>
<main>
	{{ content | safe }}
</main>
<footer>
	<div class="container">
		<div class="footer-inner">
			<p><a href="/">&larr; Back to the home page</a></p>
		</div>
	</div>
</footer>
