@use "sass:math";

$page-width: 60rem;
$gutter-width: 12rem;

$narrow-width-max: 40rem;
$almost-narrow-width-max: 43.75rem;
$wide-width-min: ($narrow-width-max + .01rem);
$extra-wide-width-min: 55rem;
$less-than-full-page-width-max: ($page-width + 9.99rem);
$full-page-width-min: ($page-width + 10rem);

:root {
	// --color-background: #1a1922;
	--color-background: #252430;
	--color-background-secondary: #0f0f14;
	--color-level-1: #fff;
	--color-level-2: #ccd;
	--color-level-3: #aab; // #99a
	--color-level-4: #889;
	--color-foreground: var(--color-level-3);
	--color-video-overlay-bg: rgba(0,0,0,.5);
	--color-video-overlay-bg-over: rgba(0,0,0,.75);
	--color-video-overlay-fg: #fff;
}

@media (prefers-contrast: more) {
	:root {
		--color-foreground: var(--color-level-2);
		--color-level-4: var(--color-level-3);
	}
}

body {
	margin: 4rem 0 10rem;
	background-color: var(--color-background);
	color: var(--color-foreground);
	font-size: 1rem;
	font-family: "SF Pro Display", "SF Pro Icons", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Segoe UI", Roboto, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	direction: ltr;
	line-height: 1.6rem;

	@media (max-width: $narrow-width-max) {
		margin: 2.5rem 0 5rem;
	}
}

// General

h1, h2, h3 {
	color: var(--color-level-1);
}

h1 {
	font-size: 2rem;
	line-height: 1.25em;
	font-weight: normal;
	color: var(--color-foreground);
	margin: .75rem 0 1.25rem;

	strong {
		color: var(--color-level-1);
	}
}

h2 {
	font-size: 1.25rem;
}

h3 {
	font-size: 1rem;

	&:not(:first-child) {
		margin-top: 2.5rem;
	}
}

strong, a {
	font-weight: bold;
	text-decoration: none;
	color: var(--color-level-2);
}

a {
	padding: 1px 0;
	text-decoration: underline;
	text-decoration-color: var(--color-level-4);
}

a:hover {
	// background-color: var(--color-background-secondary);
	text-decoration-color: var(--color-level-2);
}

code {
	font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
	background-color: var(--color-background-secondary);
	padding: 1px 6px;
	border-radius: 12px;
}

ul {
	margin: 2.5rem 0;
	padding: 0;

	li {
		margin: 0 0 .5rem;

		&::marker {
			color: var(--color-level-2);
		}
	}
}

.meta {
	color: var(--color-level-4);
	font-style: italic;
	margin: -.75rem 0 1.125rem;
}

noscript {
	display: block;
	text-align: center;
	border: 1px solid var(--color-level-4);
	padding: 0.5rem;
}

// Header

.face {
	width: ($gutter-width - 2rem);
	height: ($gutter-width - 2rem);
	border-radius: 100%;
	margin: 0 2rem 0 0;
}

header {
	margin: 0 0 4rem;

	@media (max-width: $narrow-width-max) {
		margin-bottom: 2.5rem;
	}

	.header-inner {
		@media (min-width: $wide-width-min) {
			display: flex;
		}
	}

	.fanfare {
		font-size: 1.75rem;
		color: var(--color-level-2);
		line-height: 1.25em;
		margin: 1rem 0;

		@media (min-width: $wide-width-min) {
			font-size: 2.5rem;
			margin: 1.25rem 0;
		}

		strong {
			font-weight: normal;
		}
	}

	.title {
		@media (min-width: $wide-width-min) {
			font-size: 1.125rem;
		}
	}
}

footer {
	.footer-inner {
		@media (min-width: $wide-width-min) {
			margin-left: $gutter-width;
		}
	}

	.signoff {
		color: var(--color-level-4);
		margin: 2rem 0 0;
	}
}

// Content segments and containers

.container {
	max-width: 60rem;
	margin: 0 auto;
	padding: 0 5rem;

	@media (max-width: $almost-narrow-width-max) {
		margin: 0;
		padding: 0 3.5rem;
	}

	@media (max-width: $narrow-width-max) {
		padding: 0 2.5rem;
	}
}

.content-segment {
	&:nth-child(even) {
		background-color: var(--color-background-secondary);
		padding: 2rem 0;
		margin: 2rem 0;
	}
}

.section {
	@media (min-width: $wide-width-min) {
		display: flex;

		&-head {
			flex: 0 0 ($gutter-width - 2rem);
			margin: 0 2rem 0 0;

			h2 {
				position: sticky;
				top: 2rem;
			}
		}

		&-body {
			flex: 1 0 0px;
		}
	}
}

// Figures

figure {
	margin: 0 0 2rem;
	text-align: center;

	/*
	👉 "Non-main" figures are located in non-standard
	   places, and are strictly for wider viewports.

	👉 "Main" figures are located in a standard place,
	   and is strictly for the narrower viewports which
	   has a standard layout for each portfolio item.
	*/

	@media (max-width: $narrow-width-max) {
		width: 100vw;
		margin: 0 -2.5rem 2rem;

		&.figure-non-main {
			display: none;
		}

		&.figure-main {
			display: block;
		}

		> img {
			display: block;
			margin: 0 auto;
		}
	}

	@media (min-width: $wide-width-min) {
		margin: 0;

		&.figure-main {
			display: none;
		}
	}
}

figcaption {
	color: var(--color-level-4);
	margin: .5rem 0 1.5rem;
	font-size: .875rem;
	line-height: 1.5em;
}

// Portfolio

.portfolio {
	&-item {
		clear: both;

		@media (min-width: $wide-width-min) {
			margin-left: $gutter-width;

			&:nth-child(odd) {
				margin-right: $gutter-width;
				margin-left: 0;
			}
		}
	}

	h2 {
		font-size: 1.5rem;
		line-height: 1.4em;
		margin: 4rem 0 2rem;

		@media (min-width: $extra-wide-width-min) {
			font-size: 2rem;
		}
	}
}

// Videos

.video {
	background-color: var(--color-background-secondary);
}

.video-inner {
	max-height: 60vh;
	width: calc(60vh / 0.5625);
	margin: 0 auto;
}

.vimeo-container {
	position: relative;
	padding-top: 56.25%;
	margin: 0 auto;

	> iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
}

.video-progress {
	position: absolute;
	top: .75rem;
	right: .75rem;
	width: 1.25rem;
	height: 1.25rem;
	z-index: 2;
	transform: rotate(-90deg);

	$circle-radius: 9;

	&__canvas {
		width: 100%;
		height: 100%;
		overflow: visible;
	}

	&__lower {
		stroke: var(--color-video-overlay-bg);
		stroke-width: 4;
		fill: none;
	}

	&__upper {
		stroke: var(--color-video-overlay-fg);
		stroke-width: 2.5;
		fill: none;
		opacity: .9;
		stroke-dashoffset: 2 * math.$pi * $circle-radius;
		stroke-dasharray: 2 * math.$pi * $circle-radius;
	}
}

.video-fullscreen-button {
	position: absolute;
	bottom: .75rem;
	right: .75rem;
	z-index: 2;
	width: 1.75rem;
	height: 1.75rem;
	appearance: none;
	border: none;
	cursor: pointer;
	border-radius: .375rem;
	background: var(--color-video-overlay-bg) url(/assets/expand.svg) no-repeat center center;
	background-size: 1rem;
	transition: .25s opacity;

	@media (pointer: fine) {
		opacity: 0;
	}

	&:hover, &:focus {
		background-color: var(--color-video-overlay-bg-over);
	}
}

.vimeo-container:hover .video-fullscreen-button {
	opacity: 1;
}

// Rules for specific figures

.figure-dr-lyd {
	@media (min-width: $wide-width-min) {
		margin-right: -$gutter-width;
	}

	@media (min-width: $extra-wide-width-min) {
		float: right;
		margin: -2.5rem -14rem 0 1.5rem;
		width: 36rem;
	}

	@media (max-width: $narrow-width-max) {
		margin-bottom: 1.5rem;
	}
}

.figure-elections {
	@media (min-width: $wide-width-min) {
		margin-left: -$gutter-width;
	}

	@media (min-width: $extra-wide-width-min) {
		float: left;
		margin: 0 1.5rem 1.5rem (-$gutter-width);
		width: 36rem;
	}
}

.figure-charts {
	@media (min-width: $wide-width-min) {
		max-width: 60rem;
		margin-right: -$gutter-width;
	}

	figcaption {
		@media (max-width: $narrow-width-max) {
			margin: 0 2.5rem;
		}
	}
}

.figure-epjb {
	@media (min-width: $wide-width-min) {
		float: left;
		margin: 0 1.5rem 4rem -14rem;
	}
}

.figure-fretboard {
	@media (min-width: $wide-width-min) {
		margin-right: -$gutter-width;
	}

	@media (max-width: $narrow-width-max) {
		margin-bottom: 1.25rem;
	}

	> img {
		width: 100%;
	}

	> iframe {
		width: 100%;
		height: 16.25rem;
		margin: 0 0 -0.5rem;
	}
}

.figure-keys {
	@media (min-width: $wide-width-min) {
		margin-left: -$gutter-width;
	}

	@media (max-width: $narrow-width-max) {
		margin-bottom: 1.25rem;
	}

	> img {
		width: 100%;
	}

	> iframe {
		width: 100%;
		height: 184px;
	}
}

.figure-newsapp {
	@media (min-width: $wide-width-min) {
		float: right;
		margin: 0 (-$gutter-width) 3.5rem 1.5rem;
		width: 19rem;
	}

	> div {
		max-width: 16rem;
		padding-top: min(181.03%, calc(1.8103 * 16rem));

		@media (min-width: $wide-width-min) {
			max-width: none;
			padding-top: 181.03%;
		}
	}
}

.figure-clip-manager {
	overflow: hidden;

	@media (min-width: $wide-width-min) {
		float: left;
		margin: 0 1.5rem 4rem -14rem;
		overflow: hidden;
	}

	&-inner {
		position: relative;
		max-width: 45vw;
		margin: 0 auto;
		padding: 0 7% 19% 0;

		@media (min-width: $extra-wide-width-min) {
			max-width: 24rem;
		}

		@media (max-width: $narrow-width-max) {
			max-width: calc(100vw - 5rem);
		}

		> img {
			width: 100%;
		}

		.clip-manager-video {
			position: absolute;
			top: 40%;
			left: 12.5%;
			width: 87.73%;
			box-shadow: 0 0 1rem rgba(37, 36, 48, .75);
		}
	}
}

.figure-pyramid {
	@media (min-width: $wide-width-min) {
		float: right;
		margin: 0 (-$gutter-width) 1.5rem 1.5rem;
		width: 45vw;
	}

	@media (min-width: $extra-wide-width-min) {
		width: 25rem;
	}
}

.figure-graphjs {
	@media (min-width: $wide-width-min) {
		float: left;
		margin: 0 1.5rem 1.5rem (-$gutter-width);
	}

	> img {
		width: 100%;
		max-width: 17.5rem;
	}
}

.figure-screenshot-roll {
	position: relative;

	@media (max-width: $less-than-full-page-width-max) {
		width: 100vw;
		margin: 0 -5rem;
	}

	@media (max-width: $almost-narrow-width-max) {
		margin: 0 -3.5rem;
	}

	@media (max-width: $narrow-width-max) {
		margin: 0 -2.5rem;
	}

	@media (min-width: $full-page-width-min) {
		overflow-x: visible;
		margin: 0 -12.625rem 0 -.625rem;
	}

	> div {
		overflow-x: auto;
	}

	> div > div {
		display: flex;
		width: 61.25rem;

		@media (max-width: $less-than-full-page-width-max) {
			padding: 0 4.375rem;
		}

		@media (max-width: $almost-narrow-width-max) {
			padding: 0 2.875rem;
		}

		@media (max-width: $narrow-width-max) {
			padding: 0 1.875rem;
		}
	}

	img {
		flex: 0 0 25%;
		width: 25%;
	}

	&::before,
	&::after {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		pointer-events: none;
		opacity: .8;
		background: transparent linear-gradient(
			to right,
			transparent 0%,
			rgba(37, 36, 48, 0.013) 8.6%,
			rgba(37, 36, 48, 0.049) 17.5%,
			rgba(37, 36, 48, 0.104) 26.5%,
			rgba(37, 36, 48, 0.175) 35.6%,
			rgba(37, 36, 48, 0.259) 44.6%,
			rgba(37, 36, 48, 0.352) 53.3%,
			rgba(37, 36, 48, 0.45) 61.7%,
			rgba(37, 36, 48, 0.55) 69.6%,
			rgba(37, 36, 48, 0.648) 76.9%,
			rgba(37, 36, 48, 0.741) 83.4%,
			rgba(37, 36, 48, 0.825) 89%,
			rgba(37, 36, 48, 0.896) 93.6%,
			rgba(37, 36, 48, 0.951) 97.1%,
			rgba(37, 36, 48, 0.987) 99.2%,
			var(--color-background) 100%
		);

		@media (max-width: $less-than-full-page-width-max) {
			display: block;
			content: "";
			width: 5rem;
		}

		@media (max-width: $almost-narrow-width-max) {
			width: 3.5rem;
		}

		@media (max-width: $narrow-width-max) {
			width: 2.5rem;
		}
	}

	&::before {
		left: 0;
		right: auto;

		background-image: linear-gradient(
			to left,
			transparent 0%,
			rgba(37, 36, 48, 0.013) 8.6%,
			rgba(37, 36, 48, 0.049) 17.5%,
			rgba(37, 36, 48, 0.104) 26.5%,
			rgba(37, 36, 48, 0.175) 35.6%,
			rgba(37, 36, 48, 0.259) 44.6%,
			rgba(37, 36, 48, 0.352) 53.3%,
			rgba(37, 36, 48, 0.45) 61.7%,
			rgba(37, 36, 48, 0.55) 69.6%,
			rgba(37, 36, 48, 0.648) 76.9%,
			rgba(37, 36, 48, 0.741) 83.4%,
			rgba(37, 36, 48, 0.825) 89%,
			rgba(37, 36, 48, 0.896) 93.6%,
			rgba(37, 36, 48, 0.951) 97.1%,
			rgba(37, 36, 48, 0.987) 99.2%,
			var(--color-background) 100%
		);
	}
}

.figure-google,
.figure-tweetnest {
	@media (min-width: $wide-width-min) {
		float: left;
		margin: 0 1.5rem 1.5rem (-$gutter-width);
	}
}

.figure-tweetnest {
	> img {
		width: 100%;
		max-width: 20rem;
	}
}

.figure-superdamn {
	@media (min-width: $wide-width-min) {
		float: right;
		margin: 0 (-$gutter-width) 0 1.5rem;
	}

	@media (max-width: $narrow-width-max) {
		margin-bottom: 1.0625rem;
	}

	> img {
		width: 100%;
		max-width: 45vw;

		@media (min-width: $extra-wide-width-min) {
			max-width: 26.25rem;
		}

		@media (max-width: $narrow-width-max) {
			max-width: min(calc(100vw - 3.75rem), 26.25rem);
		}
	}
}

.figure-pc-klinik {
	@media (min-width: $wide-width-min) {
		float: left;
		margin: .5rem 1.5rem 1.5rem (-$gutter-width);
	}

	> img {
		width: 100%;
		max-width: 45vw;

		@media (min-width: $extra-wide-width-min) {
			max-width: 21.875rem;
		}

		@media (max-width: $narrow-width-max) {
			max-width: min(calc(100vw - 5rem), 21.875rem);
		}
	}
}
