@use "sass:math";

$mobile-width: 600px;

:root {
	// --color-background: #1a1922;
	--color-background: #252430;
	--color-background-secondary: #0f0f14;
	--color-level-1: #fff;
	--color-level-2: #ccd;
	--color-level-3: #aab; // #99a
	--color-level-4: #889;
	--color-foreground: var(--color-level-3);
	--color-video-overlay-bg: rgba(0,0,0,.5);
	--color-video-overlay-bg-over: rgba(0,0,0,.75);
	--color-video-overlay-fg: #fff;
}

@media (prefers-contrast: more) {
	:root {
		--color-foreground: var(--color-level-2);
		--color-level-4: var(--color-level-3);
	}
}

body {
	margin: 4rem 0 10rem;
	background-color: var(--color-background);
	color: var(--color-foreground);
	font-size: 1rem;
	font-family: "SF Pro Display", "SF Pro Icons", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Segoe UI", Roboto, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	direction: ltr;
	line-height: 1.6rem;

	@media (max-width: $mobile-width) {
		margin: 2.5rem 0 5rem;
	}
}

h1, h2, h3 {
	color: var(--color-level-1);
}

h1 {
	font-size: 2rem;
	line-height: 1.25em;
	font-weight: normal;
	color: var(--color-foreground);
	margin: .75rem 0 1.25rem;

	strong {
		color: var(--color-level-1);
	}
}

h2 {
	font-size: 1.25rem;
}

h3 {
	font-size: 1rem;

	&:not(:first-child) {
		margin-top: 2.5rem;
	}
}

strong, a {
	font-weight: bold;
	text-decoration: none;
	color: var(--color-level-2);
}

a {
	padding: 1px 0;
	text-decoration: underline;
}

a:hover {
	background-color: var(--color-background-secondary);
}

code {
	font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
	background-color: var(--color-background-secondary);
	padding: 1px 6px;
	border-radius: 12px;
}

ul {
	margin: 2.5rem 0;
	padding: 0;

	li {
		margin: 0 0 .5rem;

		&::marker {
			color: var(--color-level-2);
		}
	}
}

.header-inner {
	// display: flex;
}

.face {
	width: 10rem;
	height: 10rem;
	border-radius: 100%;
	margin: 0 2rem 0 0;
}

header {
	margin: 0 0 4rem;

	@media (max-width: $mobile-width) {
		margin-bottom: 2.5rem;
	}

	.fanfare {
		font-size: 1.75rem;
		color: var(--color-level-2);
		line-height: 1.25em;
		margin: 1rem 0;

		strong {
			color: var(--color-level-1);
		}
	}
}

.container {
	max-width: 60rem;
	margin: 0 auto;
	padding: 0 5rem;

	@media (max-width: $mobile-width) {
		margin: 0;
		padding: 0 2.5rem;
	}
}

.content-segment {
	&:nth-child(even) {
		background-color: var(--color-background-secondary);
		padding: 2rem 0;
		margin: 2rem 0;
	}
}

.video {
	background-color: var(--color-background-secondary);
}

.video-inner {
	max-height: 60vh;
	width: calc(60vh / 0.5625);
	margin: 0 auto;
}

.vimeo-container {
	position: relative;
	padding-top: 56.25%;
	// margin: 1rem 0;

	@media (max-width: $mobile-width) {
		width: calc(100% + 5rem);
		padding-top: calc(56.25% + 0.5625 * 5rem);
		margin: 0 -2.5rem;
	}

	> iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
}

.video-progress {
	position: absolute;
	top: .75rem;
	right: .75rem;
	width: 1.25rem;
	height: 1.25rem;
	z-index: 2;
	transform: rotate(-90deg);

	$circle-radius: 9;

	&__canvas {
		width: 100%;
		height: 100%;
		overflow: visible;
	}

	&__lower {
		stroke: var(--color-video-overlay-bg);
		stroke-width: 4;
		fill: none;
	}

	&__upper {
		stroke: var(--color-video-overlay-fg);
		stroke-width: 2.5;
		fill: none;
		opacity: .9;
		stroke-dashoffset: 2 * math.$pi * $circle-radius;
		stroke-dasharray: 2 * math.$pi * $circle-radius;
	}
}

.video-fullscreen-button {
	position: absolute;
	bottom: .75rem;
	right: .75rem;
	z-index: 2;
	width: 1.75rem;
	height: 1.75rem;
	appearance: none;
	border: none;
	cursor: pointer;
	border-radius: .375rem;
	background: var(--color-video-overlay-bg) url(/assets/expand.svg) no-repeat center center;
	background-size: 1rem;
	transition: .25s opacity;

	@media (pointer: fine) {
		opacity: 0;
	}

	&:hover, &:focus {
		background-color: var(--color-video-overlay-bg-over);
	}
}

.vimeo-container:hover .video-fullscreen-button {
	opacity: 1;
}

.meta {
	color: var(--color-level-4);
	font-style: italic;
	margin: -.75rem 0 1.125rem;
}

// TODO: Maybe actually use figure?

.figure {
	margin: 0 0 2rem;
}

.figure-charts {
	@media (max-width: $mobile-width) {
		width: calc(100% + 5rem);
		margin: 0 -2.5rem;
	}

	figcaption {
		@media (max-width: $mobile-width) {
			margin: 0 2.5rem;
		}
	}
}

.figure-clip-manager {
	position: relative;
	max-width: 24rem;
	// height: 23.5rem;
	/* height: 0;
	padding-top: 87.03%;
	max-width: 27rem;

	> img {
		position: absolute;
		top: 0;
		left: 0;
	} */

	> img {
		width: 100%;
	}

	padding: 0 7% 12.9% 0;

	.clip-manager-video {
		position: absolute;
		top: 40%;
		left: 12.5%;
		width: 87.73%;
		box-shadow: 0 0 1rem rgba(37, 36, 48, .75);
	}
}

.figure-screenshot-roll {
	overflow-x: scroll;

	@media (max-width: $mobile-width) {
		width: calc(100% + 5rem);
		margin: 0 -2.5rem;
	}

	> div {
		display: flex;
		width: 61.25rem;

		@media (max-width: $mobile-width) {
			margin: 0 1.875rem;
		}
	}

	img {
		flex: 0 0 25%;
		width: 25%;
	}
}

.figure-graphjs {
	width: 100%;
	max-width: 17.5rem;
}

.figure-tweetnest {
	width: 100%;
	max-width: 20rem;
}

.figure-superdamn {
	width: 100%;
	max-width: 26.25rem;
}

.figure-pc-klinik {
	width: 100%;
	max-width: 21.875rem;
}

figure {
	margin: 0;
}

figcaption {
	color: var(--color-level-4);
	margin: .5rem 0 1.5rem;
	font-size: .875rem;
	line-height: 1.5em;
}

noscript {
	display: block;
	text-align: center;
	border: 1px solid var(--color-level-4);
	padding: 0.5rem;
}

.signoff {
	color: var(--color-level-4);
	margin: 2rem 0 0;
}

// Needs cleanup

.portfolio {
	h2 {
		font-size: 1.5rem;
		line-height: 1.4em;
		margin: 4rem 0 2rem;
	}
}

@media (max-width: $mobile-width) {
	.figure-non-main {
		display: none;
	}

	.figure-main {
		display: block;
	}
}

@media (min-width: ($mobile-width + 1)) {
	.header-inner {
		display: flex;
	}

	.footer-inner {
		margin-left: 12rem;
	}

	.figure-main {
		display: none;
	}

	header {
		.fanfare {
			font-size: 2.5rem;
			margin: 1.25rem 0;
		}

		.title {
			font-size: 1.125rem;
		}
	}

	.section {
		display: flex;

		&-head {
			flex: 0 0 10rem;
			margin: 0 2rem 0 0;

			h2 {
				position: sticky;
				top: 2rem;
			}
		}

		&-body {
			flex: 1 0 0px;
		}
	}

	.portfolio {
		h2 {
			font-size: 2rem;
		}
	}

	.portfolio-item {
		margin-left: 12rem;

		&:nth-child(odd) {
			margin-right: 12rem;
			margin-left: 0;
		}
	}

	.figure {
		margin: 0;
	}

	.figure-dr-lyd {
		float: right;
		margin: -1.5rem -14rem 0 1.5rem;
		width: 36rem;
	}

	.figure-elections {
		float: left;
		margin: 0 1.5rem 1.5rem -12rem;
		width: 36rem;
	}

	.figure-charts {
		max-width: 60rem;
		margin-right: -12rem;
	}

	.figure-epjb {
		float: left;
		margin: 0 1.5rem 0 -14rem;
	}

	.figure-fretboard {
		margin-right: -12rem;

		img {
			width: 100%;
		}
	}

	.figure-keys {
		margin-left: -12rem;
	}

	.figure-newsapp {
		float: right;
		margin: 0 -12rem 0 1.5rem;
		width: 19rem;
	}

	.figure-clip-manager {
		float: left;
		position: relative;
		margin: 0 1.5rem 0 -14rem;
		// width: 27rem;
		// height: 24rem;
		overflow: hidden;
	}

	.figure-pyramid {
		float: right;
		margin: 0 -12rem 1.5rem 1.5rem;
		width: 25rem;
	}

	.figure-graphjs {
		float: left;
		margin: 0 1.5rem 0 -12rem;
	}

	.figure-screenshot-roll {
		overflow-x: auto;
		margin: 0 -12.625rem 0 -.625rem;
	}

	.figure-google {
		float: left;
		margin: 0 1.5rem 1.5rem -12rem;
	}

	.figure-tweetnest {
		float: left;
		margin: 0 1.5rem 1.5rem -12rem;
	}

	.figure-superdamn {
		float: right;
		margin: 0 -12rem 0 1.5rem;
	}

	.figure-pc-klinik {
		float: left;
		margin: .5rem 1.5rem 1.5rem -12rem;
	}
}
