---
layout: "page.njk"
title: Andy’s work on election night TV technology
---

<div class="container">
	<div class="subpage-inner">
		<h1>
			<strong>Hosts on national TV used technology I created to present live election results</strong>
		</h1>
		<p class="meta">2015, 2017, 2019, 2021, 2022</p>
		<p>As part of my software engineering role at the Danish National Broadcasting Corporation, I’ve played a vital role in <strong>creating technology used for communicating election results effectively</strong> on election night TV shows. I’ve done this over several years, with varying areas of responsibility.</p>
		<p>When you work on such special projects that have such a sense of urgency, team spirit, and immediacy, a lot of interesting things happen in the process. <strong>Here’s some photos</strong> that show some of the things I’ve been through as part of this role.</p>
		<p>As you look through the photos, you can see how my role starts small, evolves to fill much more, and transitions to a senior role, mostly directing instead of coding.</p>
	</div>
</div>
<div class="content-segment">
	<div class="container">
		<div class="section">
			<div class="section-head">
				<h2>2015</h2>
			</div>
			<div class="section-body">
				<p>The first election night TV show project I was a part of was an EU referendum election in 2015. In the TV studio, located on a wide beautiful hallway in the Danish national legislature building, there was a big glass floor which contained a changing virtual graphics setup, capable of various charts and visualizations.</p>
				<p>I was in charge of the interface the host used to control this crucial part of the show, helping the host understand and manipulate the nuances while on air. I played a big part in its development, and during the broadcast, I literally stood behind the host inside the studio — in a very subtle position — always ready to help out if any issues should occur.</p>
				<figure class="main-photo">
					<img src="/assets/election-photos/raw/2015-12-03 21.24.21.jpg" />
				</figure>
				<figure class="main-photo">
					<img src="/assets/election-photos/raw/2015-12-04 18.53.47.webp" />
					<figcaption><strong class="figcaption-prefix">Above:</strong> That’s me on the left, back there!</figcaption>
				</figure>
				<figure class="main-photo">
					<img src="/assets/election-photos/raw/2015-12-02 12.15.00.jpg" />
					<figcaption><strong class="figcaption-prefix">Above:</strong> The host interface I helped build. It showed the results in a big font and allowed the host to put the results front and center in the studio using large, easy to access buttons.</figcaption>
				</figure>
				<figure class="main-photo main-photo-portrait">
					<img src="/assets/election-photos/raw/2015-12-01 16.48.54.jpg" />
					<figcaption><strong class="figcaption-prefix">Above:</strong> For the first election night TV show project I participated in, I developed from scratch a system to show, in real time, all the newest election results from the backend system, on a producer’s screen, behind the scenes. The system allowed the producer to pick out results and send them to the host’s system.</figcaption>
				</figure>
				<figure class="main-photo">
					<div class="photo-sequence">
						<div><img loading="lazy" src="/assets/election-photos/raw/2015-11-27 10.10.09.jpg" /></div>
						<div><img loading="lazy" src="/assets/election-photos/raw/2015-12-02 22.03.37.jpg" /></div>
					</div>
					<figcaption><strong class="figcaption-prefix">Left:</strong> Not everything is perfect during development. A screenshot a week before the show. <strong class="figcaption-prefix">Right:</strong> When you set up a TV studio in an old castle, apparently network switches go in a beautiful old fireplace.</figcaption>
				</figure>
				<p>One of the more fun stories I look back on happened during the preparation of this show: After I had developed my system to display results on TV, being built in Node.js and React, it had to be hosted somewhere.</p>
				<p>We never found a great place, as all the servers used at the company at the time were Windows machines, all of which were not accustomed to newer Node.js technology. In the end, we ended up hosting my system on my own laptop! Yep, the one that was with me, directly behind the hosts inside the studio.</p>
				<p>Because of this, as seen below, on the day before the election, I went to go get an ethernet adapter for my laptop for a stable connection! I, um… certainly wouldn’t do that again, but everything worked just fine!</p>
				<figure class="main-photo main-photo-portrait">
					<figcaption><strong class="figcaption-prefix">Below:</strong> “Important production equipment for election night on national TV”</figcaption>
					<img loading="lazy" src="/assets/election-photos/raw/2015-12-03 01.08.04.jpg" />
				</figure>
			</div>
		</div>
	</div>
</div>
<div class="content-segment">
	<div class="container">
		<div class="section">
			<div class="section-head">
				<h2>2017</h2>
			</div>
			<div class="section-body">
				<p>Fast forward to 2017, where Denmark held its local elections. I once again was in charge of the same systems, this time refining them and adapting them to show local results, including a bunch of miscellaneous local parties. I was working together with the same host, and was sitting close by for assistance on election night. This time, the studio was in the fancy modern main building of the network.</p>
				<figure class="main-photo">
					<!-- <img loading="lazy" src="/assets/election-photos/raw/2017-11-21 16.02.07.jpg" /> -->
					<img class="main-photo-portrait" src="/assets/election-photos/raw/2017-11-19 15.34.14.jpg" />
					<figcaption><strong class="figcaption-prefix">Above:</strong> The graphics worked mostly the same as in 2015, with the addition of a big circular screen, showing a map of Denmark laid flat.</figcaption>
				</figure>
				<figure class="main-photo main-photo-portrait">
					<img loading="lazy" src="/assets/election-photos/raw/2017-11-20 22.34.48.jpg" />
					<figcaption><strong class="figcaption-prefix">Above:</strong> Hand written instructions for the host written the night before the show.</figcaption>
				</figure>
				<figure class="main-photo">
					<img loading="lazy" src="/assets/election-photos/raw/2017-11-21 15.28.09.jpg" />
					<figcaption><strong class="figcaption-prefix">Above:</strong> My desk was near the host once again. I was often on TV in the background, much to my mom’s delight.</figcaption>
				</figure>
				<p>I don’t have a picture for this story, but for this election, I also played a role in the morning wake-up election news show the morning after the election. Yes, that meant something like 3–4 hours of sleep that night.</p>
				<p>I don’t remember why, but a few minutes before the morning show was set to go live, we had to restart parts of the setup. Having restarted my system moments before the time to go live, the host’s computer showed an error message. <strong>Literally 30 seconds before we were on TV,</strong> he looked back at me with semi-panic on his face. I went up to the stage in a smooth motion, hit the F5 button on the keyboard, and everything was fine, and the TV host was relaxed again. I went back to my desk just behind me, my heart beating a little faster than usual — even though I felt like a super badass tech ninja.</p>
				<p>The rest of that morning was (thankfully) very uneventful for me.</p>
			</div>
		</div>
	</div>
</div>
<div class="content-segment">
	<div class="container">
		<div class="section">
			<div class="section-head">
				<h2>2019</h2>
			</div>
			<div class="section-body">
				<p>This was a big year. Not just because it contained two elections very close to each other (European parliament election followed by the national parliament election), but because I moved from working on behind-the-scenes products that were merely <em>controlling</em> the TV graphics, onward to <em>implementing the TV graphics themselves</em> in JavaScript! That’s right! <strong>JavaScript on TV!</strong>
				</p>
				<p>Clearly I was representing a technology that was on the rise, but I also took it as a signal that the network had massive confidence in my work.</p>
				<p>Additionally, we were lucky to work with very cutting edge hardware: A transparent LCD screen, borrowed directly from the Korean tech giant LG, who had representatives come over and deliver it to us.</p>
				<p>They were very fascinated with our use case: Because the transparent screen showed content only to one side, but looked like a fully see-through window on the other side, we could have a TV camera positioned behind the screen, with the host on the other side. The host could then use the LCD screen to manipulate TV graphics with his fingers, as if he was <em>touching the viewer’s TV screens and using it like an iPad</em>. Mind(s) blown!</p>
				<p>It was a great project and exciting vision that came to fruition thanks to the hard work of many talented people from many different fields working together.</p>
				<figure class="main-photo">
					<img loading="lazy" src="/assets/election-photos/raw/2019 IMG_1850.jpeg" />
					<figcaption><strong class="figcaption-prefix">Above:</strong> The result, as it looked from my desk behind the scenes on election night. The larger monitor shows what the viewers would see; the host interacting directly with the election results by seemingly manipulating objects on the viewer’s TV screens. In reality, he was touching a transparent LCD screen showing a browser window containing my project. My project was then mirroring his interactions to a separate output, which was superimposed on the TV signal, and the result looked seamless.</figcaption>
				</figure>
				<figure class="main-photo">
					<img loading="lazy" src="/assets/election-photos/raw/2019 IMG_1669.jpeg" />
					<figcaption><strong class="figcaption-prefix">Above:</strong> What the hardware setup looked like in its early stages. The superimposed output, which is a separate output compared to what’s on the controlling screen, is shown on the right. Notice how the controlling screen contains an output which is mirrored. In effect, it is like looking at a mirrored version of the TV output. However, the numbers are still facing the correct direction, and are perfectly readable.</figcaption>
				</figure>
				<p>Because the unique setup meant that the host had to work with a mirrored map of the country, I created a mirrored map in print form, with all the district names, for the host to prepare for the show. I got word that he was using it nearly every day leading up to the election, and that it took a while to get used to — especially the fact that local western districts were on the right instead of the left.</p>
				<p>It can seem like a silly thing for a software developer to spend time on, but this is one of my favorite examples of something I did outside of my role that surely made a big difference, even though it wasn’t related to my core responsibilities.</p>
				<p>I wanted to do all I could to make sure the project succeeded! And to that end, doing everything to prepare the one person who’s going to use your product in front of millions of viewers is very important. And seeing as I already had the correct SVG shapes with the correct colors and labels, it was relatively easy to pop that into Illustrator and finish it up.</p>
				<figure class="main-photo">
					<figcaption><strong class="figcaption-prefix">Below:</strong> The mirrored map print I made for preparation purposes</figcaption>
					<img loading="lazy" src="/assets/election-photos/raw/2019 IMG_1688.jpeg" />
				</figure>
				<figure class="main-photo">
					<img loading="lazy" src="/assets/election-photos/raw/2019 IMG_1736.jpeg" />
					<figcaption><strong class="figcaption-prefix">Above:</strong> The translucent LCD display in the studio, from behind, in front of the fixed camera position. Notice the raw-looking inner cables visible. This really was an LG prototype that we were privileged to work with. My hardware colleague is visible taping down the setup; he did such a great job making this project come to life.</figcaption>
				</figure>
				<!-- <figure class="main-photo">
					<figcaption><strong class="figcaption-prefix">Below:</strong> Various rehearsal photos of the setup.</figcaption>
					<div class="photo-sequence">
						<div><img loading="lazy" src="/assets/election-photos/raw/2019 IMG_1766.jpeg" /></div>
						<div><img loading="lazy" src="/assets/election-photos/raw/2019 IMG_1754.jpeg" /></div>
					</div>
					<div class="photo-sequence">
						<div><img loading="lazy" src="/assets/election-photos/raw/2019 IMG_1751.jpeg" /></div>
						<div><img loading="lazy" src="/assets/election-photos/raw/2019 IMG_1782.jpeg" /></div>
					</div>
				</figure> -->
				<figure class="main-photo main-photo-portrait">
					<img loading="lazy" src="/assets/election-photos/raw/2019 IMG_1847.jpeg" />
					<figcaption><strong class="figcaption-prefix">Above:</strong> The director general of the Danish National Broadcasting Corporation comes by the day before election night to witness the setup.</figcaption>
				</figure>
				<figure class="main-photo">
					<img loading="lazy" src="/assets/election-photos/raw/2019 IMG_1724.jpeg" />
					<figcaption><strong class="figcaption-prefix">Above:</strong> Additionally, the TV studio contained a set of vertical LED displays functioning as large bar charts. I was also responsible for producing the graphical output for these. My output consisted of a page in my application which rendered bar charts on specific pixel values. These were then mapped by the hardware folks to these grand displays. It was another — pretty massive — way the host could communicate the results.</figcaption>
				</figure>
				<figure class="main-photo">
					<img loading="lazy" src="/assets/election-photos/raw/2019-IMG_1877-resized.jpg" />
					<figcaption><strong class="figcaption-prefix">Above:</strong> The raw output of the browser page which was shown on the LEDs. These two computers behind the scenes had the sole role of showing these browser pages without interruption.</figcaption>
				</figure>
				<figure class="main-photo">
					<img loading="lazy" src="/assets/election-photos/raw/2019 IMG_1769.jpeg" />
					<figcaption><strong class="figcaption-prefix">Above:</strong> Not only was the data output being sent to the bar chart displays updating in real time as the total votes across the country were tabulated. I was also tasked with building a manually operated <em>reveal mechanism</em> for the exit poll, which was to be presented right as the polls were closing. This allowed the host to step through each party, one-by-one, in the revealing of the exit poll. The stepping interface was controlled by a producer in the production room.</figcaption>
				</figure>
				<figure class="main-photo">
					<img loading="lazy" src="/assets/election-photos/raw/2019 IMG_1874.jpeg" />
					<figcaption><strong class="figcaption-prefix">Above:</strong> My desk during the election show was very close to both of these big products. I also had the ability to talk to, and receive word from, the producer’s desk using the intercom.</figcaption>
				</figure>
				<p>In the midst of all this, I was also still responsible for the election results interface used by producers in the production room, preparing results and sending them to the host. This tool was mostly in maintenance mode, being the same as in previous years. Although it did have to be refactored a little to work with the data for parliament elections.</p>
				<p>I remember walking back and forth between the studio and the production room that night, helping everyone if they had an issue of any kind. That suits me just fine, as communicating technical things to non-technical people — making technology work for people! — is one of my passion areas.</p>
				<figure class="main-photo">
					<figcaption><strong class="figcaption-prefix">Below:</strong> Producer seen using my interface in the foreground, in the production room.</figcaption>
					<img loading="lazy" src="/assets/election-photos/raw/2019 IMG_1786.jpeg" />
				</figure>
			</div>
		</div>
	</div>
</div>
<div class="content-segment">
	<div class="container">
		<div class="section">
			<div class="section-head">
				<h2>2021</h2>
			</div>
			<div class="section-body">
				<p>A few years later, in 2021, there were another set of local elections. This time, the network’s vision was to have several different local TV studios, with local hosts, telling the viewership about the situation in their area of the country. They each were to use the same result visualization system, controlled by an iPad. Needless to say, this was a big change and a big challenge.</p>
				<p>This time, my colleague Mads built a new TypeScript-based project to be shown on the iPads and the monitors next to the host. It was built mostly from scratch, and my role was to give input in the development process based on my experience with prior elections, and to help in the stakeholder relations.</p>
				<figure class="main-photo">
					<img loading="lazy" src="/assets/election-photos/raw/2021 IMG_8364.jpeg" />
					<figcaption><strong class="figcaption-prefix">Above:</strong> One of the hosts controlling the results display during rehearsal.</figcaption>
				</figure>
				<figure class="main-photo main-photo-portrait">
					<img loading="lazy" src="/assets/election-photos/raw/2021 IMG_8314.jpeg" />
					<figcaption><strong class="figcaption-prefix">Above:</strong> Mads preparing the different iPads to be sent to various areas of the country.</figcaption>
				</figure>
				<figure class="main-photo">
					<img loading="lazy" src="/assets/election-photos/raw/2021 IMG_8354.jpeg" />
					<figcaption><strong class="figcaption-prefix">Above:</strong> As we were working on the product up towards election night, being located in a big media production building, we ended up “borrowing” one of the nearby audio studios, utilizing its soft soundproofing walls as a massive bulletin board containing all sorts of prospective screens and views contained in the end product.</figcaption>
				</figure>
				<figure class="main-photo">
					<img loading="lazy" src="/assets/election-photos/raw/2021 IMG_8366.jpeg" />
					<figcaption><strong class="figcaption-prefix">Above:</strong> A weird data mishap happened during this election night which meant the backenders were looking at map data. Thankfully, it didn’t end up being a big issue.</figcaption>
				</figure>
				<figure class="main-photo">
					<figcaption><strong class="figcaption-prefix">Below:</strong> My desk during election night — once again subtledly positioned behind the results screen, near the host.</figcaption>
					<img loading="lazy" src="/assets/election-photos/raw/2021 IMG_8371.jpeg" />
				</figure>
			</div>
		</div>
	</div>
</div>
<div class="content-segment">
	<div class="container">
		<div class="section">
			<div class="section-head">
				<h2>2022 referendum</h2>
			</div>
			<div class="section-body">
				<p>2022 brought two different election-related projects I was working on. The first was an EU referendum. I took the work done for the previous election and adapted it to a simple “yes”/“no” vote design, and worked with the new host who presented results.</p>
				<figure class="main-photo">
					<img loading="lazy" src="/assets/election-photos/raw/2022FA IMG_9950.jpeg" />
					<figcaption><strong class="figcaption-prefix">Above:</strong> Overview of the studio. My setup seen at the far end.</figcaption>
				</figure>
				<figure class="main-photo">
					<figcaption><strong class="figcaption-prefix">Below:</strong> A big project like this does not always look particularly glamorous behind the scenes. What’s shown on the fancy screen in the shiny studio is really just a realtime feed of what’s shown on a desktop machine temporarily standing on the floor in the adjacent machine room. Additionally, there are some laptops running some other screens from the same software project, meant for other displays in the studio. People should really be careful not to trip in this room.</figcaption>
					<img loading="lazy" src="/assets/election-photos/raw/2022FA IMG_9947.jpeg" />
					<img loading="lazy" src="/assets/election-photos/raw/2022FA IMG_9948.jpeg" />
				</figure>
				<!-- <figure class="main-photo">
					<img loading="lazy" src="/assets/election-photos/raw/2022FA IMG_9953.jpeg" />
					<figcaption><strong class="figcaption-prefix">Above:</strong> Many of my engineering colleagues were sat in the adjacent studio, keeping an eye on the feed and various related websites.</figcaption>
				</figure> -->
				<figure class="main-photo">
					<figcaption><strong class="figcaption-prefix">Below:</strong> My desk right behind the host (seen from behind on the left) in the back of the TV studio. Always nearby, ready to respond to any incidents. (Although mostly what I did was help the older generation figure out their iPads.)</figcaption>
					<img loading="lazy" src="/assets/election-photos/raw/2022FA IMG_9967.jpeg" />
				</figure>
			</div>
		</div>
	</div>
</div>
<div class="content-segment">
	<div class="container">
		<div class="section">
			<div class="section-head">
				<h2>2022 parliament election</h2>
			</div>
			<div class="section-body">
				<p>The last election project I participated in, and a big one. An important national parliament election. For this one, I had a less of a hands-on role, instead overseeing and guiding two colleagues doing most of the work developing extra features on the software. And there were a lot of new additions.</p>
				<p>Most notably, the centerpiece of the new election studio was 14 huge bar shaped monitors. At this point, the list of parties participating in the election in Denmark on a national level was getting pretty long. Fourteen parties, and there was a bar for each one. Through the evening, the vision was that these were going to show the live results for each party all night.</p>
				<p>So, my colleagues and I prepared our application to output a design fitting exactly the specification and design for these monitors, with many different view modes.</p>
				<figure class="main-photo">
					<img loading="lazy" src="/assets/election-photos/raw/2022KV IMG_0703.jpeg" />
					<figcaption><strong class="figcaption-prefix">Above:</strong> Showing the color of each participating party.</figcaption>
				</figure>
				<!-- <figure class="main-photo">
					<figcaption><strong class="figcaption-prefix">Below:</strong> Studio as it looked while it was being built by the hardware and scenography folks.</figcaption>
					<img loading="lazy" src="/assets/election-photos/raw/2022KV IMG_0635.jpeg" />
				</figure> -->
				<figure class="main-photo">
					<img loading="lazy" src="/assets/election-photos/raw/2022KV IMG_0679.jpeg" />
					<figcaption><strong class="figcaption-prefix">Above:</strong> One of the biggest tasks of these sets of bars, similar to 2019, was to reveal the exit poll, manually party by party, with the entire country watching, at the exact moment the polls closed. We created a way for production to slowly reveal each party’s result one by one. This required a lot of coordination between everyone involved, and super responsive software. A rehearsal is seen above.</figcaption>
				</figure>
				<figure class="main-photo">
					<figcaption><strong class="figcaption-prefix">Below:</strong> The big moment of the actual exit poll reveal during the broadcast. Everything went off without a hitch, thankfully. (Most of the politicians seen on the various live feeds on the monitors on the right would actually be watching this reveal happening live.)</figcaption>
					<img loading="lazy" src="/assets/election-photos/raw/2022KV IMG_0709.jpeg" />
				</figure>
				<figure class="main-photo">
					<img loading="lazy" src="/assets/election-photos/raw/2022KV IMG_0696.jpeg" />
					<figcaption><strong class="figcaption-prefix">Above:</strong> Rewinding to the day before the show, my colleagues and I are hard at work on the last fixes to the software, sitting in the election TV studio, just a short distance away from the host’s location.</figcaption>
				</figure>
				<figure class="main-photo main-photo-portrait">
					<img loading="lazy" src="/assets/election-photos/raw/2022KV IMG_0681.jpeg" />
					<figcaption><strong class="figcaption-prefix">Above:</strong> Sometimes, debugging is running to the one laptop in the machine room which is in trouble, taking a crappy picture with your phone of the error in the console, and then running back to your desk to fix it. This was one of those times. (Hopefully, debugging isn’t like this too often. But sometimes it is.) (Also, this was photo taken during development, before election day.)</figcaption>
				</figure>
				<figure class="main-photo">
					<img class="main-photo-portrait" src="/assets/election-photos/raw/2022KV IMG_0704.jpeg" />
					<figcaption><strong class="figcaption-prefix">Above, and below:</strong> I was sitting very centrally in the studio during the broadcast, being part of the “working team” on screen, and being on call in case any incidents should occur. Because of that, I was reminded not to stand up suddenly, as there was a camera dancing around over our heads on a Technocrane. Between shots, it would regularly pause in locations where it seemed to be staring right at me.</figcaption>
					<img loading="lazy" src="/assets/election-photos/raw/2022KV IMG_0712.jpeg" />
				</figure>
				<figure class="main-photo">
					<img loading="lazy" src="/assets/election-photos/raw/2022KV IMG_0711.jpeg" />
					<figcaption><strong class="figcaption-prefix">Above:</strong> The entire direction of the National Broadcasting Corporation looks on, from the back of the studio, as the exit poll is revealed on live TV. Clearly an important moment.</figcaption>
				</figure>
				<figure class="main-photo">
					<img loading="lazy" src="/assets/election-photos/raw/2022KV IMG_0716.jpeg" />
					<figcaption><strong class="figcaption-prefix">Above:</strong> One of the bigger features our colleagues and I had worked tirelessly on was an <em>interactive majority visualization</em>; once we have an idea how many mandates each party will get, which coalitions are possible? And which will attain a majority in the parliament? The host would be able to build prospective coalitions on screen. Not every feature or detail we build makes it all the way to the show, so when this visualization finally was used — seen here during the live broadcast — we sat back on the sidelines and smiled.</figcaption>
				</figure>
			</div>
		</div>
	</div>
</div>
