---
layout: "base.njk"
---

{% for section in collections.sortedSections %}
	<div class="content-segment">
		<div class="container">
			<div class="section">
				<div class="section-head">
					<h2>{{ section.data.title }}</h2>
				</div>
				<div class="section-body">
					{{ section.templateContent | smartquotes | safe }}
				</div>
			</div>
		</div>
	</div>
{% endfor %}
